* {
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  background-color: #2a1844;
}

label {
  margin-bottom: 20px;
}

/* ========== SWITCH 1 ==========*/

.switch1 {
  margin-top: 5px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch1 input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider1 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #4b4661;
  background: linear-gradient(180deg, #253069 0%, #412861 100%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 30px;
}

.slider1::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider1 {
  border-color: #913c94;
}

input:checked + .slider1::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* ========== SWITCH 2 ==========*/

.switch2 {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch2 input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider2 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #4b4661;
  background: linear-gradient(180deg, #253069 0%, #412861 100%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  /* border-radius: 30px; */
}

.slider2::before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 2px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider2 {
  border-color: #913c94;
}

input:checked + .slider2::before {
  left: 4px;
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  left: 4px;
}

/* ========== SWITCH 3 ==========*/

.switch3 {
  margin-top: 5px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch3 input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider3 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #4b4661;
  background: linear-gradient(180deg, #253069 0%, #412861 100%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 30px 0 0 30px;
}

.slider3::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider3 {
  border-color: #913c94;
}

input:checked + .slider3::before {
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 2px;
  border-radius: 0%;

  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* ========== SWITCH 4 ==========*/

.switch4 {
  margin-top: 5px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch4 input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider4 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #4b4661;
  background: linear-gradient(180deg, #253069 0%, #412861 100%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 30px;
}

.slider4::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 2px;
  background-color: #4b4661;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider4 {
  border-color: #913c94;
}

input:checked + .slider4::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #c13cc5d0;
}
