* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background: #250007;
}

.toggle {
  cursor: pointer;
}

.toggle input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}

.background {
  position: relative;
  width: 20rem;
  height: 9rem;
  border-radius: 5rem;
  background: black;
  border: 2px solid #da5f0b;
  transition: 0.8s;
}

.pumpking {
  z-index: 1;
  position: absolute;
  width: 8rem;
  height: 7rem;
  border-radius: 50%;
  margin: 1rem;
  background: #da5f0b;
  transition: 0.8s;
}

.eyes {
  position: absolute;
  display: flex;
  justify-content: space-around;
  height: 1.5rem;
  width: 8rem;
  top: 25px;
}

.eye {
  z-index: 1;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background: black;
  transition: 0.8s;
}

.nose {
  position: relative;
  z-index: 1;
  width: 50px;
  height: 50px;
  left: 35px;
  top: 8px;
  overflow: hidden;
  box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5);
  transition: 0.8s;
}

.nose:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: black;
  transform: rotate(45deg);
  top: 40px;
  left: 16px;
  box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
  transition: 0.8s;
}

.mouth {
  position: absolute;
  width: 90px;
  height: 30px;
  top: 68px;
  left: 19px;
  border-radius: 0 0 30px 30px;
  background: black;
  transition: 0.8s;
}

.mouth::after {
  content: "";
  position: absolute;
  width: 11px;
  height: 20px;
  top: -25%;
  left: 50%;
  background-color: #000000;
}

input:checked ~ .pumpking {
  -webkit-transform: translateX(162px);
  -ms-transform: translateX(162px);
  transform: translateX(162px);
}

input:checked ~ .background {
  background: #250007;
}

input:checked ~ .pumpking .eyes .eye,
input:checked ~ .pumpking .mouth {
  box-shadow: 0 0 8px 0px #ffff00;
  background: #ffff00;
}

input:checked ~ .pumpking .nose {
  box-shadow: 4px 15px 10px -17px #ffff00;
}

input:checked ~ .pumpking .nose::after {
  background: #ffff00;
  box-shadow: -1px -1px 10px -2px #ffff00;
}
